# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
*.sqlite3
*.db

# Jupyter Notebooks
.ipynb_checkpoints

# DataSpell/JetBrains IDEs
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Virtual environments
venv/
env/

